stack/flow1/saga/saga.json
{
  "Comment":"Flow1",
  "StartAt":"Invoke Lambda1",
  "States":{
     "Invoke Lambda1":{
         "Type": "Task",
         "Resource": "arn:aws:states:::lambda:invoke",
         "Parameters": {
            "FunctionName": "${lambda1Arn}",
            "Payload.$": "$"
         },
         "ResultPath": "$.steps.Lambda1",
         "Next":"Emit Event",
         "Catch":[
           {
              "ErrorEquals":[
                 "States.ALL"
              ],
              "Next":"Catch All"
           }
        ]
     },
     "Emit Event": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "${topicArn}",
        "Message.$": "$",
        "MessageAttributes": {
          "attr1": {
            "DataType": "String",
            "StringValue": "value1"
          }
        }
      },
      "End": true
     },
     "Catch All":{
        "Type":"Pass",
        "Next":"Push To DLQ"
     },
     "Push To DLQ":{
        "Type":"Pass",
        "End":  true
     }
  }
}